---
- hosts: localhost
  become: yes

  tasks:
  - name: Ensure current user is in sudo group
    user:
      name: "{{ lookup('env', 'USER') }}"
      groups: sudo
      shell: /bin/bash
      append: yes

  - name: Enable passwordless sudo for current user
    copy:
      dest: "/etc/sudoers.d/{{ lookup('env', 'USER') }}"
      content: "{{ lookup('env', 'USER') }} ALL=(ALL) NOPASSWD: ALL"
      mode: 0440
      validate: /usr/sbin/visudo -cf %s