---
- hosts: all
  become: yes
  gather_facts: no
  vars:
    k8s_version: "1.33"

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Upgrade system packages
      apt:
        upgrade: dist

    - name: Update Kubernetes repo
      copy:
        dest: /etc/apt/sources.list.d/kubernetes.list
        content: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v{{ k8s_version }}/deb/ /"
        mode: '0644'

    - name: Update apt cache after repo change
      apt:
        update_cache: yes

    - name: Unhold kubeadm
      dpkg_selections:
        name: kubeadm
        selection: install

    - name: Upgrade kubeadm package
      apt:
        name: kubeadm={{ k8s_version }}.*
        state: present

    - name: Verify kubeadm version
      command: kubeadm version -o short
      register: kubeadm_version
      changed_when: false
      when: inventory_hostname in groups['master']

    - name: Plan kubeadm upgrade
      command: kubeadm upgrade plan
      register: upgrade_plan
      changed_when: false
      when: inventory_hostname in groups['master']

    - name: Show upgrade plan
      debug:
        var: upgrade_plan.stdout_lines
      when: inventory_hostname in groups['master']

    - name: Apply kubeadm upgrade
      command: "kubeadm upgrade apply {{ kubeadm_version.stdout }} -y"
      when: inventory_hostname in groups['master']

    - name: Upgrade worker node
      command: kubeadm upgrade node
      when: inventory_hostname not in groups['master']

    - name: Unhold kubelet and kubectl
      dpkg_selections:
        name: "{{ item }}"
        selection: install
      loop:
        - kubelet
        - kubectl

    - name: Upgrade kubelet and kubectl
      apt:
        name:
          - kubelet={{ k8s_version }}.*
          - kubectl={{ k8s_version }}.*
        state: present

    - name: Daemon reload and restart kubelet
      systemd:
        name: kubelet
        state: restarted
        daemon_reload: yes

    - name: Hold packages
      dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop:
        - kubeadm
        - kubelet
        - kubectl
        